h2 {font-family: "궁서체" sans-serif;color: cadetblue;text-shadow: 3px 3px 4px grey}
.time {background-color:lightcoral;color: beige;}
.week {background-color:indianred;color: beige;}
.web {background-color:lightsteelblue;}
.ai {background-color:slategrey;}
.data {background-color:steelblue;}
.eng {background-color:lightblue;}
.inje {background-color:dodgerblue;}
.math {background-color:darkslateblue;}
.wri {background-color:darkcyan;}
.com {background-color:cornflowerblue;}